<div class="jumbotron text-center" style="background: #00BFFF; color:#fff;margin-bottom: 0px;     padding: 24px 0px;">
  <div class="container">
    <div class="col-sm-12">

      <h1 style="font-size:30px;">
        <i class="fa fa-cloud" style="font-size:40px;color:#fff;"></i> Current weather and forecasts in your city
      </h1>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      <select id="Id" class="form-control" [(ngModel)]="location.name" (change)="showWeather(location.name);">
        <option *ngFor="let lst of location" [ngValue]="lst.name">{{lst.name}}</option>
      </select>
      <p class="pagyt {{location.name? 'hide':''}}"
         style=" font-size: 14px;position: absolute;top: 7px;color: #777;left: 26px;">
        Select The City
      </p>
    </div>
  </div>
</div>
<div class="flude-container" class="pagyt {{location.name? 'show':''}}" style="display:none">
  <div class="container">
    <div class="col-sm-4">
      <h4 style="font-weight: bold;padding-top: 16px; color:#00BFFF">Weather in City, {{name}}</h4>
    </div>
    <div class="col-sm-8 text-center">
      <h3 style="color:#00BFFF">Weather and forecasts in City, {{cityName}}</h3>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-4">
      <h2 style="margin: 0px;color:#067DA5">
        <i class="fa fa-cloud" style="font-size:30px;color:#067DA5;"></i> <strong>{{currentWeather.temp-273.15 | number
        : '1.2-2'}}°C</strong></h2>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>Min Temp</td>
          <td>{{currentWeather.temp_min-273.15 | number : '1.2-2'}}°C</td>
        </tr>
        <tr>
          <td>Max Temp</td>
          <td>{{currentWeather.temp_max-273.15 | number : '1.2-2'}}°C</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td>{{currentWeather.pressure}}</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>{{currentWeather.humidity}} %</td>
        </tr>

        <tr>
          <td>Sunrise</td>
          <td>{{citySunrise}}</td>
        </tr>
        <tr>
          <td>Sunset</td>
          <td>{{citySunset}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-8">
      <div *ngIf="chart">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>
